<%
   let menu=[
   {title:'Одяг, взуття та аксесуари',url:'/about',img:"../img/main/03.svg"},
   {title:'Взуття',url:'/reviews',img:"../img/main/03.svg"},
   {title:'Чол.взуття',url:'/catalog',img:"../img/main/03.svg"} ,
   {title:'Чоловіче спортивне взуття',url:'/catalog',img:"../img/main/03.svg",},
   {title:'Чоловічі кросівки',url:'/catalog',img:"../img/main/03.svg",},
   {title:'Чоловічі кросівки Mizuno',url:'/catalog',img:"../img/main/03.svg",},
   ]
   %>
   <!DOCTYPE html>
   <html lang="en">

   <%- include('../inc/head') %>

      <body>
         <div class="wrapper">
            <%- include('../inc/header') %>
               <div class="main">
                  <div class="main_container_polotno">
                     <div class="main_container_container">
                        <div class="title_main">
                           <a class="nav_home" href="/index">
                              <div class="nav_home_img">
                                 <img src="../img/main/02.svg" alt="home" class="home_icon">
                              </div>
                           </a>
                           <% menu.forEach(item=>{%>
                              <li>
                                 <a class="nav_link" href="<%= item.url %>">
                                    <%=item.title %>
                                       <img src="<%= item.img %>" alt="icon">
                                 </a>
                              </li>
                              <%})%>
                        </div>
                     </div>
                  </div>
               </div>
               <%- include('../inc/footer') %>
         </div>
      </body>

   </html>